html, body{
     font-family: Arial, Tahoma, sans-serif;
     margin: 0;
     padding: 0;
}
body{
     background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX8208889.jpg"); 
     padding:10px;
}
  
form{
     margin:15px 0;
}
form input[type='text']{
     border:2px solid #0B0B3B;/*#45C5BF;*/
     border-radius: 5px;
     padding:5px;
     width:75%;
}
form input[type='submit']{
     background: #0B0B3B;/*#45C5BF;*/
     border:none;
     border-radius: 5px;
     color:#FFF;
     cursor:pointer;
     font-weight: bold;
     padding:5px 5px;
     width:19%;
}

form input[type='file']{
     display: none;
}

img {
  max-width:100px;
  max-height:100px;
  top:2px;
  left:3px;
  padding: 0px;
}

h1 { 
     color: #000000 ;/*#CEF0D4;*/ 
     font-family: 'Rouge Script', cursive; 
     font-size: 130px; 
     font-weight: normal; line-height: 48px; 
     text-align: center; 
     text-shadow: 1px 1px 2px #082b34; 

}

#footer{
     width: 1200px;
     height: 150px;
     left: 10px;
     bottom: 15px;
     position: fixed;

}

#sendImage{
	background: #0B0B3B;/*#45C5BF;*/
     border:none;
     border-radius: 5px;
     color:#FFF;
     cursor:pointer;
     font-weight: bold;
     padding:5px 5px;
}

#messages{
     background: #FFF;
     border:2px solid #0B0B3B;/*#45C5BF;*/
     height: 550px;
     overflow: auto;

}
#acesso_usuario{
     height:30px;
     left:50%;
     margin-left:-160px;
     margin-top:-15px;
     position: fixed;
     top:50%;
     width:320px;
}
#acesso_usuario form{
     margin:0;
}

#sala_chat{
     display: none;
}

#figure{
	width: 10%;
}